nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #12372A; 
   padding: 10px;
 }
 
 nav h2 {
   color: white; 
   margin: 0; 
 }
 
 nav a {
   color: white; 
   text-decoration: none; 
   margin-right: 10px;}

   header {
    margin-left: 20px;
   }

 